
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    font-style: oblique;
    text-align: center;
    text-decoration: underline;
}

p {
    font-weight: 600;
    font-size: 3em;
}

.background {
    background-color: paleturquoise;
    line-height: 60px;
}

body {
    font-size: 16px;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}
